In [1]:
import pandas as pd
import numpy as np

### Step 1: Import Data

The "real_estate_valuation_data_set.csv" file saves the market historical data of real estate valuation of a Chinese city. The variable information is as follows

| Variable Name | Role | Type | Description | Units | 
|:--|:--|:--|:--|:--|
|No|ID|Integer||||
|X1 transaction date|Feature|Continuous|for example, 2013.250=2013 March, <br>2013.500=2013 June, etc.||
|X2 house age|Feature|Continuous||year|
|X3 distance to the <br>nearest metro station|Feature|Continuous||meter|
|X4 number of <br>convenience stores|Feature|Integer|number of convenience stores in the<br> living circle on foot|integer|
|X5 latitude|Feature|Continuous|geographic coordinate, latitude|degree|
|X6 longitude|Feature|Continuous|geographic coordinate, longitude|degree|
|Y house price of<br> unit area|Target|Continuous|10000 Chinese Yuan per <br>square metre|10000 CNY/<br>square metre|

In [2]:
# Read the data with pandas
real_estate = pd.read_csv("real_estate_valuation_data_set.csv", index_col=0)

In [3]:
# Show the first five rows of the data
real_estate.head()

,X1 transaction date,X2 house age,X3 distance to the nearest MRT station,X4 number of convenience stores,X5 latitude,X6 longitude,Y house price of unit area
No,,,,,,,
1,2012.917,32.0,84.87882,10,24.98298,121.54024,2.53
2,2012.917,19.5,306.59470,9,24.98034,121.53951,2.81
3,2013.583,13.3,561.98450,5,24.98746,121.54391,3.15
4,2013.500,13.3,561.98450,5,24.98746,121.54391,3.65
5,2012.833,5.0,390.56840,5,24.97937,121.54245,2.87

In [4]:
# Get the number of instances and features
row_num = real_estate.shape[0]
col_num = real_estate.shape[1]

In [5]:
row_num, col_num

(414, 7)

In [6]:
# Get the input variables X with features from X1 to X6.
X = np.array(real_estate.iloc[:,:6].values)

In [7]:
X.shape

(414, 6)

In [8]:
X

array([[2012.917  ,   32.     ,   84.87882,   10.     ,   24.98298,
         121.54024],
       [2012.917  ,   19.5    ,  306.5947 ,    9.     ,   24.98034,
         121.53951],
       [2013.583  ,   13.3    ,  561.9845 ,    5.     ,   24.98746,
         121.54391],
       ...,
       [2013.25   ,   18.8    ,  390.9696 ,    7.     ,   24.97923,
         121.53986],
       [2013.     ,    8.1    ,  104.8101 ,    5.     ,   24.96674,
         121.54067],
       [2013.5    ,    6.5    ,   90.45606,    9.     ,   24.97433,
         121.5431 ]], shape=(414, 6))

In [9]:
# Get the target values y
y = np.array(real_estate.iloc[:,6].values)

In [10]:
y.shape

(414,)

In [11]:
y

array([2.53, 2.81, 3.15, 3.65, 2.87, 2.14, 2.69, 3.11, 1.25, 1.47, 2.76,
       3.87, 2.62, 1.59, 2.29, 3.37, 4.67, 2.49, 2.82, 3.18, 1.95, 3.44,
       1.64, 3.19, 2.59, 1.8 , 3.75, 2.24, 3.13, 3.81, 1.47, 1.67, 2.28,
       3.29, 3.67, 1.82, 1.53, 1.69, 3.18, 3.08, 1.06, 1.21, 2.31, 2.27,
       3.59, 2.55, 2.8 , 4.1 , 0.89, 0.88, 2.95, 1.38, 1.8 , 2.59, 3.45,
       0.91, 2.79, 3.57, 1.51, 2.83, 1.42, 4.21, 1.85, 3.67, 1.69, 2.95,
       3.38, 3.79, 2.41, 2.8 , 3.93, 2.72, 2.42, 1.33, 3.63, 1.97, 2.45,
       1.71, 1.99, 1.77, 2.69, 2.45, 3.21, 1.18, 2.91, 3.39, 1.8 , 1.22,
       3.2 , 1.69, 3.03, 2.88, 1.45, 1.07, 2.73, 3.45, 3.97, 2.31, 3.4 ,
       4.15, 2.55, 2.19, 3.63, 3.05, 2.03, 4.73, 3.14, 1.77, 2.27, 1.89,
       3.44, 2.63, 1.54, 0.51, 3.55, 3.09, 0.81, 0.87, 2.04, 3.97, 2.09,
       3.2 , 2.17, 3.03, 3.83, 3.24, 4.19, 3.67, 4.05, 2.73, 2.5 , 2.05,
       2.5 , 2.63, 2.81, 1.39, 3.12, 3.16, 2.9 , 2.83, 3.43, 1.93, 2.5 ,
       2.67, 1.89, 3.03, 3.48, 2.88, 3.01, 2.65, 3.23, 2.98, 1.93, 2.73,
       1.38, 1.04, 1.22, 2.37, 2.63, 2.49, 3.85, 2.64, 0.77, 3.7 , 3.68,
       2.04, 4.91, 2.89, 2.49, 1.57, 0.96, 3.92, 3.87, 2.34, 3.01, 2.43,
       1.28, 2.8 , 2.45, 2.84, 1.03, 3.73, 1.57, 1.25, 1.45, 1.43, 1.71,
       1.47, 2.95, 1.37, 2.82, 2.52, 2.85, 3.29, 1.95, 2.31, 2.44, 3.21,
       2.61, 2.11, 1.7 , 3.06, 2.1 , 3.07, 1.77, 1.43, 2.93, 2.28, 1.75,
       2.73, 3.48, 2.9 , 2.07, 3.87, 1.39, 3.21, 2.65, 2.72, 2.92, 2.68,
       5.22, 2.57, 3.23, 2.82, 3.07, 3.27, 0.85, 2.68, 3.11, 1.27, 2.23,
       0.98, 1.16, 2.16, 1.59, 2.62, 4.13, 2.6 , 2.71, 1.98, 1.92, 2.76,
       2.23, 3.21, 1.45, 2.72, 2.71, 1.54, 1.49, 1.  , 2.  , 0.92, 3.51,
       1.73, 3.45, 1.16, 1.77, 2.93, 4.22, 1.92, 2.05, 1.63, 3.53, 2.11,
       2.71, 2.54, 1.58, 2.74, 2.67, 1.53, 7.83, 1.77, 2.7 , 1.95, 2.73,
       3.31, 2.27, 1.85, 2.93, 2.07, 3.03, 2.99, 1.71, 1.57, 2.29, 3.69,
       3.75, 2.19, 3.4 , 2.97, 2.47, 3.63, 1.63, 2.83, 2.54, 1.45, 2.27,
       1.9 , 1.11, 3.07, 2.46, 2.38, 1.55, 2.56, 1.96, 3.67, 3.35, 1.65,
       3.53, 1.27, 1.65, 2.81, 5.2 , 2.85, 2.77, 1.82, 2.8 , 2.5 , 3.32,
       1.79, 1.24, 2.51, 2.21, 2.83, 2.09, 2.54, 4.14, 2.45, 1.57, 1.28,
       0.85, 1.04, 2.64, 2.56, 1.52, 2.43, 2.37, 2.06, 2.42, 3.36, 2.86,
       2.47, 3.57, 3.11, 2.75, 2.53, 2.05, 0.75, 3.58, 3.13, 2.82, 1.91,
       1.71, 2.09, 2.01, 4.05, 3.02, 2.99, 3.01, 1.65, 3.14, 4.22, 2.67,
       3.2 , 2.21, 1.97, 1.65, 1.39, 2.87, 1.52, 2.81, 3.45, 2.77, 3.48,
       3.3 , 1.59, 2.03, 3.79, 2.49, 4.65, 3.55, 3.15, 1.95, 2.69, 0.86,
       3.11, 3.69, 1.71, 1.82, 4.51, 2.57, 2.09, 2.35, 2.69, 1.65, 2.83,
       2.13, 2.15, 1.53, 2.49, 2.37, 1.85, 1.9 , 2.65, 2.75, 2.48, 2.7 ,
       1.49, 1.87, 1.03, 3.33, 2.71, 3.5 , 4.26])

### Step 2: Data Preprocessing

We can transform the continuous target variable (house price) into a categorical variable (house price range) according to the following rule.
|price range|category|label|
|:--:|:--:|:--:|
|$y\leq 1.5$|very low|0|
|$1.5<y\leq2.5$|low|1|
|$2.5<y\leq3.5$|high|2|
|$y>3.5$|very high|3|

In [12]:
y_ = np.zeros(row_num, dtype="int")
y_[y<=1.5] = 0
y_[(y>1.5)*(y<=2.5)] = 1
y_[(y>2.5)*(y<=3.5)] = 2
y_[y>3.5] = 3
y_

array([2, 2, 2, 3, 2, 1, 2, 2, 0, 0, 2, 3, 2, 1, 1, 2, 3, 1, 2, 2, 1, 2,
       1, 2, 2, 1, 3, 1, 2, 3, 0, 1, 1, 2, 3, 1, 1, 1, 2, 2, 0, 0, 1, 1,
       3, 2, 2, 3, 0, 0, 2, 0, 1, 2, 2, 0, 2, 3, 1, 2, 0, 3, 1, 3, 1, 2,
       2, 3, 1, 2, 3, 2, 1, 0, 3, 1, 1, 1, 1, 1, 2, 1, 2, 0, 2, 2, 1, 0,
       2, 1, 2, 2, 0, 0, 2, 2, 3, 1, 2, 3, 2, 1, 3, 2, 1, 3, 2, 1, 1, 1,
       2, 2, 1, 0, 3, 2, 0, 0, 1, 3, 1, 2, 1, 2, 3, 2, 3, 3, 3, 2, 1, 1,
       1, 2, 2, 0, 2, 2, 2, 2, 2, 1, 1, 2, 1, 2, 2, 2, 2, 2, 2, 2, 1, 2,
       0, 0, 0, 1, 2, 1, 3, 2, 0, 3, 3, 1, 3, 2, 1, 1, 0, 3, 3, 1, 2, 1,
       0, 2, 1, 2, 0, 3, 1, 0, 0, 0, 1, 0, 2, 0, 2, 2, 2, 2, 1, 1, 1, 2,
       2, 1, 1, 2, 1, 2, 1, 0, 2, 1, 1, 2, 2, 2, 1, 3, 0, 2, 2, 2, 2, 2,
       3, 2, 2, 2, 2, 2, 0, 2, 2, 0, 1, 0, 0, 1, 1, 2, 3, 2, 2, 1, 1, 2,
       1, 2, 0, 2, 2, 1, 0, 0, 1, 0, 3, 1, 2, 0, 1, 2, 3, 1, 1, 1, 3, 1,
       2, 2, 1, 2, 2, 1, 3, 1, 2, 1, 2, 2, 1, 1, 2, 1, 2, 2, 1, 1, 1, 3,
       3, 1, 2, 2, 1, 3, 1, 2, 2, 0, 1, 1, 0, 2, 1, 1, 1, 2, 1, 3, 2, 1,
       3, 0, 1, 2, 3, 2, 2, 1, 2, 1, 2, 1, 0, 2, 1, 2, 1, 2, 3, 1, 1, 0,
       0, 0, 2, 2, 1, 1, 1, 1, 1, 2, 2, 1, 3, 2, 2, 2, 1, 0, 3, 2, 2, 1,
       1, 1, 1, 3, 2, 2, 2, 1, 2, 3, 2, 2, 1, 1, 1, 0, 2, 1, 2, 2, 2, 2,
       2, 1, 1, 3, 1, 3, 3, 2, 1, 2, 0, 2, 3, 1, 1, 3, 2, 1, 1, 2, 1, 2,
       1, 1, 1, 1, 1, 1, 1, 2, 2, 1, 2, 0, 1, 0, 2, 2, 2, 3])

We record the number of classes as four.

In [13]:
class_num = 4

We transform the house features into categorical values, making it suitable for the Categorical-valued Decision Tree Classifier.

In [14]:
X_ = np.zeros((row_num,col_num-1),dtype=int)

Feature "X1 transaction date" is devided into two categories according to the following rule.
|transaction date range|category|value|
|:--:|:--:|:--:|
|$\text{X1}< 2013$|before 2013|0|
|$\text{X1}\geq 2013$|after 2013|1|

In [15]:
X1_ = np.zeros(row_num, dtype="int")
X1 = X[:,0]
X1_[X1<2013] = 0
X1_[X1>=2013] = 1
X_[:,0] = X1_

Feature "X2 house age" is devided into three categories according to the following rule.
|house age range|category|value|
|:--:|:--:|:--:|
|$\text{X2}\leq 10$|young|0|
|$10<\text{X2}\leq 20$|medium|1|
|$\text{X2}>20$|old|2|

In [16]:
X2_ = np.zeros(row_num, dtype="int")
X2 = X[:,1]
X2_[X2<=10] = 0
X2_[(X2>10)*(X2<=20)] = 1
X2_[X2>20] = 2
X_[:,1] = X2_

Feature "X3 distance to the nearest metro station" is devided into three categories according to the following rule.
|distance range|category|value|
|:--:|:--:|:--:|
|$\text{X3}\leq 200$|near|0|
|$200<\text{X3}\leq 1000$|medium|1|
|$\text{X3}>1000$|far|2|

In [17]:
X3_ = np.zeros(row_num, dtype="int")
X3 = X[:,2]
X3_[X3<=200] = 0
X3_[(X3>200)*(X3<=1000)] = 1
X3_[X3>1000] = 2
X_[:,2] = X3_

Feature "X4 number of convenience stores" is devided into three categories according to the following rule.
|number range|category|value|
|:--:|:--:|:--:|
|$\text{X4}\leq 3$|few|0|
|$3<\text{X4}\leq 6$|medium|1|
|$\text{X4}>6$|many|2|

In [18]:
X4_ = np.zeros(row_num, dtype="int")
X4 = X[:,3]
X4_[X4<=3] = 0
X4_[(X4>3)*(X4<=6)] = 1
X4_[X4>6] = 2
X_[:,3] = X4_

Feature "X5 latitude" is devided into two categories according to the following rule.
|latitude range|category|value|
|:--:|:--:|:--:|
|$\text{X5}\leq 24.969$|north|0|
|$\text{X5}> 24.969$|south|1|

In [19]:
X5_ = np.zeros(row_num, dtype="int")
X5 = X[:,4]
X5_[X5<=24.969] = 0
X5_[X5>24.969] = 1
X_[:,4] = X5_

Feature "X6 longitude" is devided into two categories according to the following rule.
|longitude range|category|value|
|:--:|:--:|:--:|
|$\text{X6}\leq 121.535$|east|0|
|$\text{X6}> 121.535$|west|1|

In [20]:
X6_ = np.zeros(row_num, dtype="int")
X6 = X[:,5]
X6_[X6<=121.535] = 0
X6_[X6>121.535] = 1
X_[:,5] = X6_

We record the number of categorical feature values for each transformed feature.

In [21]:
feat_val_nums = [2,3,3,3,2,2] # Feature X1 has two categorical values, Feature X2 has three categorical values, ..., Feature X6 has two categorical values

### Step 3: Train-Test Split

We randomly split the data X_ and y_ into training and test sets with the ratio $1:1$.

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(
    X_, y_, test_size=0.5, random_state=0)
train_num = y_train.shape[0]
test_num = y_test.shape[0]

### Step 4: House Price Range Classification with ID3 Decision Tree

As Sciket-Learn only implements the CART decision tree with the only support for binary splits and continuous attribute values, we have to implement the ID3 Decision Tree Classifier by ourselves. Following the Decision Tree algortihm discription on page 9 of this week's lecture notes, we can implement the ID3 Decision Tree Classifier (which adopts Information Gain as the attribute selection measure) as follows.

In [23]:
# Implement the ID3 Decision Tree Classifier, train an ID3 Decision Tree Classifier with the training data (X_train, y_train)

# Compute the information (entropy) of a data collection
def compute_information(dataset):
    sample_num = dataset.shape[0]
    feat_num = dataset.shape[1] - 1
    label_counts = {}
    for i in range(sample_num):
        current_label = dataset[i,feat_num]
        if current_label not in label_counts.keys():
            label_counts[current_label] = 0
        label_counts[current_label] += 1
    info = 0.0
    for label in label_counts:
        p = label_counts[label] / sample_num
        info -= p * np.log2(p)
    return info

# Create a subset of a given data collection, according to the given value of the given attribute  
def create_sub_dataset(dataset, attribute_index, value):
    attribute_values = dataset[:,attribute_index]
    return dataset[attribute_values==value,:]

# Select the splitting attribute
def select_split_attribute(dataset, attribute_list):
    sample_num = dataset.shape[0]
    information = compute_information(dataset)
    best_information_gain = -1.0
    best_attribute_index = -1
    for attribute_index in attribute_list:
        information_gain = information
        for j in range(feat_val_nums[attribute_index]):
            sub_dataset = create_sub_dataset(dataset, attribute_index, j)
            sub_dataset_sample_num = sub_dataset.shape[0]
            if sub_dataset_sample_num == 0:
                continue
            information_gain -= sub_dataset_sample_num / sample_num * compute_information(sub_dataset)
        if best_information_gain < information_gain:
            best_information_gain = information_gain
            best_attribute_index = attribute_index
    return best_attribute_index

# Use majority voting to determine the class label of a data collection
def majority_vote(dataset):
    sample_num = dataset.shape[0]
    feat_num = dataset.shape[1] - 1
    label_counts = {}
    for i in range(sample_num):
        current_label = dataset[i,feat_num]
        if current_label not in label_counts.keys():
            label_counts[current_label] = 0
        label_counts[current_label] += 1

    max_label_counts = 0
    majority_label = -1
    for label in label_counts:
        if max_label_counts < label_counts[label]:
            max_label_counts = label_counts[label]
            majority_label = label
    return majority_label

# Check if the given data collection is pure or not
def pure_check(dataset):
    sample_num = dataset.shape[0]
    feat_num = dataset.shape[1] - 1
    label_counts = {}
    for i in range(sample_num):
        current_label = dataset[i,feat_num]
        if current_label not in label_counts.keys():
            label_counts[current_label] = 0
        label_counts[current_label] += 1
    if len(list(label_counts.keys())) == 1:
        return True
    else:
        return False

# Create a decision tree from the given data collection and attribute list
def create_decision_tree(dataset, attribute_list):
    majority_label = majority_vote(dataset)

    # If current data collection is pure, return the majority label
    if pure_check(dataset):
        return majority_label
    
    # If there are no attributes available to do data splitting (corresponding to the leaf node), return the majority label
    if len(attribute_list) == 0:
        return majority_label 
    
    split_attribute_index = select_split_attribute(dataset, attribute_list)
    attribute_list.remove(split_attribute_index)

    decision_tree = {split_attribute_index: {}}
    for attribute_value in range(feat_val_nums[split_attribute_index]):
        sub_dataset = create_sub_dataset(dataset, split_attribute_index, attribute_value)
        if sub_dataset.shape[0] == 0:
            decision_tree[split_attribute_index][attribute_value] = majority_label
        else:
            decision_tree[split_attribute_index][attribute_value] = create_decision_tree(sub_dataset, attribute_list)
    
    return decision_tree

# Given the feature vector of a test sample, predict its label using the trained decision tree
def classify(decision_tree, test_sample):
    root_attribute_index = list(decision_tree.keys())[0]
    sub_decision_tree = decision_tree[root_attribute_index][test_sample[root_attribute_index]]
    if type(sub_decision_tree).__name__ == 'dict':
        return classify(sub_decision_tree, test_sample)
    else:
        return sub_decision_tree
    
# Train an ID3 Decision Tree Classifier with X_train, y_train
dataset = np.zeros((train_num,col_num),dtype=int)
dataset[:,:col_num-1] = X_train
dataset[:,col_num-1] = y_train
attribute_list = list(range(col_num-1))
decision_tree = create_decision_tree(dataset, attribute_list)

In [24]:
# Predict the labels of test data with the trained ID3 Decision Tree Classifier
y_pred = np.zeros_like(y_test, dtype=int)
for i in range(test_num):
    y_pred[i] = classify(decision_tree, X_test[i,:])

In [25]:
# Compare the ground-truth and predicted labels
pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})

     y_test  y_pred
0         2       2
1         0       1
2         2       2
3         0       1
4         2       1
..      ...     ...
202       1       2
203       1       1
204       1       2
205       2       2
206       1       1

[207 rows x 2 columns]

In [26]:
# Compute the accuracy score as an evaluation of the trained ID3 Decision Tree Classifier
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.5748792270531401

**Task 1**: Based on the implemented ID3 Decision Tree Classifier, implement the C4.5 Decision Tree Classifier, where Information Gain is replaced by Gain Ratio to select the splitting attribute.

In [27]:
# Implement the C4.5 Decision Tree Classifier, train a C4.5 Decision Tree Classifier with the training data (X_train, y_train)
# Re-implement the splitting attribute selection function

def compute_split_info(dataset, attribute_index):
    sample_num = dataset.shape[0]
    split_info = 0.0
    for j in range(feat_val_nums[attribute_index]):
        sub_dataset = create_sub_dataset(dataset, attribute_index, j)
        sub_dataset_sample_num = sub_dataset.shape[0]
        if sub_dataset_sample_num == 0:
            continue
        p = sub_dataset_sample_num / sample_num
        split_info -= p * np.log2(p)
    return split_info

def select_split_attribute_gain_ratio(dataset, attribute_list):
    sample_num = dataset.shape[0]
    information = compute_information(dataset)
    best_gain_ratio = -1.0
    best_attribute_index = -1
    for attribute_index in attribute_list:
        info_gain = information
        for j in range(feat_val_nums[attribute_index]):
            sub_dataset = create_sub_dataset(dataset, attribute_index, j)
            sub_sample_num = sub_dataset.shape[0]
            if sub_sample_num == 0:
                continue
            info_gain -= sub_sample_num / sample_num * compute_information(sub_dataset)
        
        split_info = compute_split_info(dataset, attribute_index)

        if split_info == 0:
            continue
        gain_ratio = info_gain / split_info

        if gain_ratio > best_gain_ratio:
            best_gain_ratio = gain_ratio
            best_attribute_index = attribute_index
    return best_attribute_index


# Re-implement the decision tree creation function
def create_decision_tree_gain_ratio(dataset, attribute_list):
    majority_label = majority_vote(dataset)

    if pure_check(dataset):
        return majority_label

    if len(attribute_list) == 0:
        return majority_label 

    split_attribute_index = select_split_attribute_gain_ratio(dataset, attribute_list)
    
    if split_attribute_index == -1:
        return majority_label

    attribute_list = attribute_list.copy()
    attribute_list.remove(split_attribute_index)

    decision_tree = {split_attribute_index: {}}
    for attribute_value in range(feat_val_nums[split_attribute_index]):
        sub_dataset = create_sub_dataset(dataset, split_attribute_index, attribute_value)
        if sub_dataset.shape[0] == 0:
            decision_tree[split_attribute_index][attribute_value] = majority_label
        else:
            decision_tree[split_attribute_index][attribute_value] = create_decision_tree_gain_ratio(sub_dataset, attribute_list)
    
    return decision_tree



# Train a C4.5 Decision Tree Classifier with X_train, y_train
##: Write your code here
dataset = np.zeros((train_num, col_num), dtype=int)
dataset[:, :col_num-1] = X_train
dataset[:, col_num-1] = y_train
attribute_list = list(range(col_num - 1))

decision_tree_c45 = create_decision_tree_gain_ratio(dataset, attribute_list)

In [28]:
# Predict the labels of test data with the trained C4.5 Decision Tree Classifier
y_pred = np.zeros_like(y_test, dtype=int)
for i in range(test_num):
    y_pred[i] = classify(decision_tree_c45, X_test[i,:])

In [29]:
# Compare the ground-truth and predicted labels
pd.DataFrame({'y_test': y_test, 'y_pred': y_pred})

     y_test  y_pred
0         2       1
1         0       0
2         2       2
3         0       0
4         2       1
..      ...     ...
202       1       2
203       1       1
204       1       2
205       2       2
206       1       1

[207 rows x 2 columns]

In [30]:
# Compute the accuracy score as an evaluation of the trained C4.5 Decision Tree Classifier
accuracy_score(y_test, y_pred)

0.6376811594202898

**Futher Exploration (Optional)**:
+ Based on the implemented ID3 and C4.5 Decision Tree Classifiers, implement a Decision Tree Regression model, where the reudction in mean sqaured error is used as a measure to select the splitting attribute.  Use the implement Decision Tree Regresion model to predict the house price of test samples.